body {
    background-color: white;
}

img {
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form {
    transform: scale(1.2);
    text-align: center;
}
p {
    text-align: center;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
topnav {
    font-family: arial,sans-serif;
    font-size: 13px;
}
