body {
    background-color: white;
}

img {
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form {
    transform: scale(1.2);
    text-align: center;
}
p {
    text-align: center;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
#topnav {
    font-family: arial,sans-serif;
    font-size: 13px;
}

button {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
